.hidden{position: absolute; left: -1000%; display: block; width: 1px; height: 1px; display: block; color:#fff; opacity: 0}
.clearfix:after{clear: both; display: block; content: ''}

#wrap{width: 100%; height: 100%; font-size: 16px; transition: 700ms}
#content{width: 100%; overflow: hidden}

#headerArea{position: fixed; display: none; width: 100%; height: 100px; background: rgba(0,0,0,.2); z-index: 10}
#headerArea.show{display: block}
#headerArea #gnb ul{font-size: 24px; text-align: center}
#headerArea #gnb ul li{width: 20%; line-height: 4.2em; float: left}
#headerArea #gnb ul li.on{position: relative}
#headerArea #gnb ul li.on:after{position: absolute; left: 50%; margin-left: -40px; bottom: 25px; display: block; width: 80px; height: 2px; content: ''; background: #fff}
#headerArea #gnb ul li a{display: block; color: #fff}

#content .cmnSize, #content .portfolio{position: relative; width: 100%; height: 100%}

#content .main{text-align: center}
#content .main h3{position: relative; top: 20%}
#content .main h3 img{width: 40%}
#content .main .btn_pdf{position: relative; top: 25%; left: 50%; margin-left: -20%; display: block; width: 40%; height: auto; border: 4px solid #666; text-align: center}
#content .main .btn_pdf:hover{border-color: #894dfa}
#content .main .btn_pdf a{display: block}
#content .main .btn_pdf img{width: 80%; padding: 2% 0}
#content .main .scrollDown {position: absolute; bottom: 5%; left: 50%; width: 40px; margin-left: -20px; text-align: center}
#content .main .scrollDown>a{display: block; height: 60px}
#content .main .scrollDown .chevron {position: absolute; width: 35px; height: 4px; opacity: 0; transform: scale3d(0.5, 0.5, 0.5); animation: move 3s ease-out infinite}
#content .main .scrollDown .chevron:first-child {animation: move 3s ease-out 1s infinite}
#content .main .scrollDown .chevron:nth-child(2) {animation: move 3s ease-out 2s infinite}
#content .main .scrollDown .chevron:before,
#content .main .scrollDown .chevron:after {content: ' '; position: absolute; top: 0; height: 100%; width: 51%; background:#999}
#content .main .scrollDown .chevron:before {left: 0; transform: skew(0deg, 30deg)}
#content .main .scrollDown .chevron:after {right: 0; width: 50%; transform: skew(0deg, -30deg)}
#content .main .scrollDown .text {display: block; font-size: 12px; color: #999; text-transform: uppercase; white-space: nowrap; animation: pulse 2s linear alternate infinite; text-align: center; margin-left: -25px;}
@keyframes move {
    25% {opacity: 1;}
    33% {opacity: 1;transform: translateY(30px);}
    67% {opacity: 1; transform: translateY(40px);}
    100% {opacity: 0;  transform: translateY(55px) scale3d(0.5, 0.5, 0.5);}
}

#content .about{color: #fff; font-size: 18px; line-height: 1.3em; text-align: center}
#content .about section{width: 42%; height: 100%; float: left; text-align: left; padding: 0 4%}
#content .about .abtMenu{display: none}
#content .about h4{position: relative; font-size: 3em; font-weight: bold; color: #fff; margin-top: 140px; margin-bottom: 80px}
#content .about h4:after{position: absolute; bottom: -26px; display: block; width: 40px; border-bottom: 1px solid #fff; content: ''; padding-bottom: 20px}

#content .about dt{font-size: 1.5em; font-weight: bold; line-height: 2em}
#content .about .intro{background: #fb4d4e}
#content .about .intro .myinfo {overflow: hidden; padding-bottom: 2%}
#content .about .intro .myinfo dt, #content .about .intro .myinfo dd{float: left}
#content .about .intro .myinfo dt{margin-right: 20px; font-size: 1.125em; font-weight: normal; line-height: 1.3em; opacity: .7; clear: both} 
#content .about .intro dl{margin-top: 3%}
#content .about .intro em{font-size: 1.125em; opacity: .7; margin-right: 20px}
#content .about .intro p{line-height: 1.5em}
#content .about .intro p:first-of-type{margin-top: 8%; padding-top: 8%; border-top: 1px dotted #efefef}
#content .about .intro .myTag{padding-top: 2%; overflow: hidden}
#content .about .intro .myTag li{display: inline-block; margin-right: 1%; background: #fd8282; padding: .2% .8%}
#content .about .skill{background: #894dfa; color: #fefefe}
#content .about .skill dl{margin-top: 5%}

#content .portfolio section{position: relative; width: 1000px; height: 100%; margin: 0 auto}
#content .portfolio:nth-child(2n+1){background-color: #efefef}
#content .portfolio section>div{position: relative; bottom: 0;  width: 50%; height: 100%; overflow: hidden}
#content .portfolio section .colmnImg{float: right; width: 55%}
#content .portfolio section .colmnTxt{float: left; width: 45%}
#content .portfolio section h4{position: absolute; font-style: italic; font-size: 2.250em; font-weight: bold; color: #b22c1b}
#content .portfolio section dl{position: absolute; left: 5%; bottom: 20%}
#content .portfolio section dt{position: relative; margin-top: 5%; font-size: 1.875em; font-weight: bold; line-height: 1.5em}
#content .portfolio section dt:before{position: absolute; top: 15px; left: -25px; display: block; width: 15px; height: 15px; background: #b22c1b; content: ''}
#content .portfolio section dd{font-size: 1.5em}
#content .portfolio section a{position: absolute; left: 0; bottom: 5%; display: inline-block; font-size: 1.875em; padding: .5em 2.5em; border: 1px solid #b22c1b; background: #fff; transition: 700ms; color: #b22c1b}
#content .portfolio section a:hover{background: #b22c1b; color: #fff}
#content .portfolio section img{position: absolute; left: 0; bottom: 5%; width: 100%; height: auto}

#content .desktop{background: url(../images/desktop.svg)}
#content .desktop section h4{top: 304px; left: 50%; margin-left: -150px}

#content .mobile{background: url(../images/mobile.svg)}
#content .mobile section h4{top: 334px; left: 50%; margin-left: -70px}

#content .responsive section img, #content .wordpress section img{bottom: 12%}

#content .responsive{background: url(../images/responsive.svg)}
#content .responsive section h4{top: 304px; left: 50%; margin-left: 65px; color:#01aab4}
#content .responsive section dt:before{background: #01aab4}
#content .responsive section a{border: 1px solid #01aab4; color: #01aab4}
#content .responsive section a:hover{background: #01aab4; color: #fff}

#content .wordpress{background: url(../images/wordpress.svg)}
#content .wordpress section h4{top: 304px; left: 50%; margin-left: 160px; color:#562ec2}
#content .wordpress section dt:before{background: #562ec2}
#content .wordpress section a{border: 1px solid #562ec2; color: #562ec2}
#content .wordpress section a:hover{background: #562ec2}

#content .portfolio {background-position: center 120px; background-repeat: no-repeat; background-size: auto 214px}

@media screen and (max-width : 1100px){
    #wrap{font-size: 14px}
    #content .portfolio section{width: 90%; margin: 0 5%}
}
