.wrap{width: 100%; height: auto; transition: 700ms}
section[class*="sec_project"]{height: 646px; padding: 60px 0}
.content {width: 100%; overflow: hidden;}
.content section{position: relative; width: 100%}
.content section h3{position: relative; width: 980px; margin: 0 auto 48px auto; font-size: 70px; font-weight: 500}
.content section h3 .subTitle{position: absolute; right: 0; bottom: 0; display: inline-block; color: #333; font-size: 30px}
.content .inner{width: 980px; height: auto; margin: 0 auto; padding: 0 60px}
.content .inner--left{float: left; width: 58%; height: 100%; margin-right: 8%}
.content .inner--left img{width: 100%; margin-top: 20px}
.content .inner--right{position: relative; float: right; width: 34%; padding-top: 80px}
.content .inner--right dt{display: block; float: left; width: 15%; font-size: 20px; font-weight: bold}
.content .inner--right dd{display: block; float: left; width: 85%; font-size: 20px}
.content .inner--right .btn_visit{display: block; width: 90%; margin-top: 20%; border: 1px solid #666; color:#666; line-height: 3em; text-align: center; transition: all .4s ease-in-out}
.content .inner--right .btn_visit:hover{background: #666; color: #fff}

.header{position: relative; width: 100%; height: auto; z-index: 1; background: url(../img/img_main_back.jpg) center no-repeat; background-size: cover; text-align: center; overflow: hidden}
.header .header__title{position: relative; top: 32%; font-weight: 100; font-size: 80px; line-height: 90px}
.header .header__title span{display: block; color: #fff}
.header .header__title .title__txt1{letter-spacing: -1px; font-weight: bold}
.header .header__title .title__txt2{letter-spacing: 15px}
.header .header__menu{position: fixed; top: 60px; right: 60px;display: block; width: 47px; height: 42px; background: url(../img/ico_menu.png) no-repeat; transition: .6s; z-index: 100}
.header .header__menu:hover{transform: rotate(180deg)}

.header .header__navigation{display: none; position: fixed; top: 0; left: 0;  width: 100%; height: 100%; background-color: #fff}
.header .header__navigation ul{position: absolute; top: 50%; left: 50%; width: 210px; margin-top: -310px; margin-left: -105px; text-align: center; font-size: 36px; line-height: 2.5em}
.header .header__navigation ul li{position: relative; transition: all .7s ease-in-out}
.header .header__navigation ul li:hover a{color: #ff5c36}
.header .header__navigation ul li:nth-child(1){letter-spacing:10px}
.header .header__navigation ul li:nth-child(2){letter-spacing: 17px}
.header .header__navigation ul li:nth-child(n+3){letter-spacing: -1px}

.header .button__scroll-down{display: block; position: absolute; bottom: 20px; left: 50%; width: 50px; height: 50px; margin-left: -25px; background: url(../img/ico_scrolls.png) no-repeat; background-size: 50px 50px; border: 1px solid #555; border-radius: 50%}

/* .header{width: 100%; height: 960px; background: url(../img/img_main_back.jpg) center no-repeat; background-size: cover; text-align: center}
.header>img{margin-top: 320px; transition: all .9s} */
/* .content .header .button__scroll-down img{width: 100%; height: 100%} */

.content .sec_about{height: 840px}
.content .sec_about h3{color: #ff5c36; text-align: right; border-bottom: 1px solid #ff5c36}
.content .sec_about .inner--about-left{padding-left: 20px; float: left; width: 360px; margin-top: 80px}
.content .sec_about .inner--about-left p{color: #666; text-align: center; font-size: 24px; margin-top: 30px; letter-spacing: -1px}
.content .sec_about .inner--about-left p strong{display: block; color: #ff5c36; font-size: 30px; line-height: 1.5em}
.content .sec_about .inner--about-right{padding-right: 20px; float: right; width: 490px; margin-top: 40px; color: #666; letter-spacing: -1px; font-weight: 200}
.content .sec_about .inner--about-right p{font-size: 18px}
.content .sec_about .inner--about-right .txt_info{margin-top: 20px; margin-bottom: 30px}
.content .sec_about .inner--about-right .box_myInfo{width: 412px; border: 1px solid #666; padding: 38px}
.content .sec_about .inner--about-right *dl{overflow: hidden}
.content .sec_about .inner--about-right dl.list_info1{margin-bottom: 10px; padding-bottom: 10px; border-bottom : 1px solid #666}
.content .sec_about .inner--about-right dl dt{display: block; float: left; width: 12%; margin-right: 2%; font-size: 14px; font-weight: 500}
.content .sec_about .inner--about-right dl dd{display: block; float: left; width: 86%; font-size: 1rem}
.content .sec_about .inner--about-right .btn_resume{display: block; width: 180px; margin-top: 30px; margin-left: 308px; color: #ff5c36; border: 1px solid #ff5c36; border-radius: 8px; padding: 13px 0; text-align: center; font-size: 14px; letter-spacing: 0; transition: all .4s ease-in-out}
.content .sec_about .inner--about-right .btn_resume:hover{background: #ff5c36; color: #fff}

.content .sec_skill{height: auto; padding: 60px 0; background: url(../img/img_skill_back.png) no-repeat; background-size: cover}
.content .sec_skill h3{color: #fff; text-align: right; margin-bottom: 0; border-bottom: 1px solid #fff}
.content .sec_skill dl{width: 33.33%; float: left; color: #fff}
.content .sec_skill dt{margin-top: 42px; margin-bottom: 12px; font-weight: 500; font-size: 24px}
.content .sec_skill dd{line-height: 20px; letter-spacing: -1px; font-size: 18px}

.content .sec_project2, .content .sec_project4{background: #efefef}
.content .sec_project1 h3, .content .sec_project2 h3{color: #b22c1b; border-bottom: 1px solid #b22c1b}
.content .sec_project3 .inner--left img, .content .sec_project4 .inner--left img{margin-top: 130px} 
.content .sec_project3 .inner--right, .content .sec_project4 .inner--right{padding-top: 140px}

.content .sec_project3 h3{color: #01aab4; border-bottom: 1px solid #01aab4}
.content .sec_project4 h3{color: #562ec2; border-bottom: 1px solid #562ec2}
.content .sec_project5 h3{color: #fa4d4d; border-bottom: 1px solid #fa4d4d}
.content .sec_project5 .event{display: none}
.content .sec_project5 .pagination {position: absolute; left: 50%; bottom: 30px; margin-left: -21px}
.content .sec_project5 .pagination li{float: left}
.content .sec_project5 .pagination li.p1{margin-right: 10px}
.content .sec_project5 .pagination li a{display: block; width: 17px; height: 17px; background: url(../img/spr_btn_page.png) no-repeat; background-position: -25px 1px}
.content .sec_project5 .pagination li.on a{background-position: 1px 1px}

@media screen and (max-width : 1100px){
    .header {width: 100%; padding: 0}
    .content section h3 {width:80%; margin:0 10%}
    .content .sec_about {height: auto; padding-bottom: 40px}
    .content .sec_about .inner, .content .inner{width:90%; padding: 0}
    .content .set_skill .inner{margin:0 auto; padding:0}
    .content .sec_about .inner--about-left{width:230px}
    .content .sec_about .inner--about-left img{width:100%}
    .content .sec_about .inner--about-right{width:460px}
    .content .sec_about .inner--about-right .box_myInfo{padding: 0 20px}
    .content .sec_about .inner--about-right .btn_resume{margin-left: 274px}
    .inner>div { margin: 0 auto}
    
}

@media screen and (max-width : 1024px){
    .content .sec_skill dl{height:150px}
    .content .sec_skill dt{font-size: 20px}
    .content .sec_skill dd, .content .inner--right dt, .content .inner--right dd{font-size: 16px}
}

@media screen and (max-width : 860px){
    section[class*="sec_project"], .content .sec_about{height:auto}
    .content .inner--left, .content .inner--right, .content .sec_about .inner>div{float:unset; padding: 0}
    .content .sec_about .inner>div { margin-bottom: 40px}
    .content .inner--left, .content .inner--right{width:70%; margin: 0 auto}
    .content .inner--right .btn_visit{width: 100%; }
    .content .sec_skill dl{width: 40%; margin: 0 5%}
}

@media screen and (max-width : 768px){
    .header .header__title{line-height: 60px}
    .header .header__title .title__txt1{font-size: 50px}
    .header .header__title .title__txt2{font-size: 55px; letter-spacing: 5px}

    .header .header__menu{top:20px; right:20px}
    .header .header__navigation {font-size: 24px}
    .header .header__navigation ul{line-height: 2em; margin-top: -252px}


    .content .sec_about .inner--about-right{width: 90%}
    .content section h3 {font-size: 60px; text-align: center}
    .content section[class*="sec_project"] h3{font-size:50px; line-height: 3.5rem; border:0 }
    .content .sec_about h3, .content .sec_skill{font-size: 50px}
    .content .sec_about .inner--about-right .box_myInfo{width:100%; padding: 0; border:0}
    .content .sec_about .inner--about-right .btn_resume{width:100%; margin-left: 0}
    .content section h3 .subTitle{display:block; position: relative; font-size: 24px}
    .content .sec_project3 .inner--right, .content .sec_project4 .inner--right{padding-top:50px}
    .content .sec_project3 .inner--left img, .content .sec_project4 .inner--left img{margin-top: 50px}
    
}

@media screen and (max-width : 480px){
    .content .inner--left, .content .inner--right{padding-top:40px; width:80%}
    .content .inner--right dd, .content .inner--right dt{font-size: 16px}
    .content section{font-size: 14px}
    .content .sec_skill dl{float: unset; width: 80%; height:80px; margin: 0 10%}
    .content .sec_about .inner--about-right p{font-size: 16px}
    .content .sec_about .inner--about-right dl dt{width: 18%}
    .content .sec_about .inner--about-right dl dd{width: 80%}
}

/*Main Size*/
@media screen and (max-height : 640px){
    .content .header {background-position: 100% 60%}
    .content .header>img{margin-top: 280px; width: 500px}
    .content .header .button__scroll-down{bottom: 20px; width: 20px; height: 68px; margin-left: -10px}
}
